body{
    padding-bottom: 50px;
    overscroll-behavior: none;
}

.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
    position: relative;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: relative;
    transition: all 20ms ease-in;
    z-index: -1;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    z-index: -2;
    position: relative;
    transition: all 20ms ease-in;
}

#chaserBox{
    position: relative;
    overflow: hidden;
    z-index: -1;
    border: 1px solid grey;
    height: 350px;
}
#runnerBox{
    border: 1px solid grey;
    height: 350px;
    z-index: -1;
    position: relative;
    overflow: hidden;
}
.carouselContainer{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 25vw;
}
.row-carousel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.slider {
    position: relative;
    top: 0;
    left: 0;
    width: 4200px;
    height: 80%;
  }
  .slider-inner {
    position: relative;
    top: 5%;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .item {
    position: relative;
    width: 500px;
    height: 100%;
    overflow: hidden;
  }
  .image_carousel {
    position: absolute;
    left: -100px;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: rgb(5, 28, 79);
}

.mode:hover{
    cursor: pointer;
}
.col-3 picture {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .col-3 picture:hover {
    transform: scale(1.5); }